body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9de8ff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #002f44;
    color: #ffffff;
}

.mensaje {
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    font-weight: bold;
    font-size: 14px;
    max-width: 400px;
    text-align: center;
}

.mensaje.exito {
    background-color: #e6fffb;
    border: 1px solid #00c8b3;
    color: #00675c;
    margin: 50px auto;
    padding: 20px;
}

.mensaje.error {
    background-color: #fff4f4;
    border: 1px solid #ff4d4f;
    color: #a80000;
    margin: 50px auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #002f44;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 24px;
}