body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.tierra {
    background-color: green;
    color: white;
}
.agua {
    background-color: blue;
    color: white;
}
.fuego {
    background-color: red;
    color: white;
}